html, body, nav {
    min-width: 240px;
}

/* Desktop Enable */
@media screen and (min-width: 760px)
{


    

    .br-only-mobile {
        display: none;
    }
    
    #navbar-search-form {
        display: inline-block;
        width: 40%;
    }

    .navbar > li {
        display: inline-block;
    }

    /* Contact */
    .icon-contact {
        width: 35%;
    }

    .icon-contact > img {
        width: 100%;
    }

    .icon-contact > div {
        height: 100%;
        width: 100%;
    }
    /* Contact */
}

/* Mobile Enable */
@media screen and (min-width: 1200px)
{
    .end-grid-block {
        border-right: 380px solid transparent;  
    }
}

/* Mobile Enable */
@media screen and (max-width: 1200px)
{
    .end-grid-block {
        border-right: 300px solid transparent;    
    }
}

/* Mobile Enable */
@media screen and (min-width: 980px)
{
    .grid_object {
        padding: 15px;
        margin: 10px;
    }

    .backgroud_contact, .bg-container {
        background-size: 100%;
    }
}

/* Mobile Enable */
@media screen and (max-width: 980px)
{
    /* Navbar */
    #logo {
        display: block;
        float: none;
        text-align: center;
    }

    .navbar {
        text-align: center;
    }

    .navbar > li {
        display: inline-block;
    }

    
    .end-grid-block {
        border-right: 220px solid transparent;  
    }


    .grid_object {
        width: 35%;
        padding: 15px;
        margin: 10px;
    }

    .info-container > div > a > h3 {
        transition: 0.5s;
        color: #000;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/* Mobile Enable */
@media screen and (max-width: 760px)
{
    #logo {
        width: 100%;
    }

    .navbar > li {
        width: 45%;
        margin: 0;
        padding: 0; 
    }

    #navbar-search-form {
        display: inline-block;
        width: 70%;
    }

    .image-container {
        width: 45%;
        display: inline-block;
    }

    .br-only-pc {
        display: none;
    }

    .basic-grid-block {
        width: 90%;
        display: inline-block;
    }

    .cost-grid  {
        width: 40% !important;
        display: inline-block !important;
    }

    .card-people > div {
        width: 45% !important;
    }

    .end-grid-block {
        border-right: 0 solid transparent;  
    }

    .start-grid-block {
        padding-bottom: 20px;
    }



    
    .about-grid {
        padding: 20px 0px;
    }




    .blog-image-container {
        width: 100%;
        float: left;
    }

    .blog-image-container > img {
        width: 60%;
    }

    .info-container {
        width: 100%;
    }


    
    /* Blog */

    /* Blog */
    /* Contact */
    .icon-contact
    {
        display: inline-block;

        width: 25%;
        padding: 10px 0;
    }

    .icon-contact > div
    {
        width: 100%;
        height: calc(100% - 20px);
    }

    .contact-element-text
    {
        display: inline-block;

        width: 45%;
    }
    /* Contact */
}

/* Mobile Enable */
@media screen and (max-width: 480px)
{

    .cost-grid  {
        width: 70% !important;
        display: inline-block !important;
    }

    .image-container {
        width: 90%;
        display: inline-block;
    }

}