/* Standart */
h1,
h2,
h3,
h4,
h5,
h6,
textarea
{
    font-family: 'Open Sans', sans-serif;

    color: #061e37;
}

p,
span,
a,
button
{
    font-family: 'Roboto', sans-serif;

    color: #061e37;
}

button
{
    font-size: 12pt;

    display: inline-block;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    color: #fff;
    outline: none;
}

/* Standart */
/* Navbar */

.bg-navbar
{
    width: 100%;

    background-color: #fff;
}

.navbar
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navbar > li
{
    margin: 0;
    padding: 0;
}

.navbar > li > a
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

    display: block;

    padding: 20px 10px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;
}

.logo-navbar
{
    font-size: 20pt;

    padding: 13px 10px !important;
}

.navbar > li > a:hover
{
    color: #00897b;
}

.navbar > li > a:focus
{
    color: #00ab9a;
    text-shadow: 0 0 10px #000;
}

#navbar-search-form
{
    padding-left: 10px;

    border: 1px #bbb solid;
    border-radius: 10px;
    outline: none;
}

.bg-container
{
    background-color: #090e11;
    background-image: url(../../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-text > h1
{
    font-size: 32pt;

    margin-bottom: 15px;

    color: #fff;
}

.header-text > h3
{
    font-size: 12pt;
    font-weight: 400;

    color: #fff;
}

.header-button > button
{
    margin: 10px;
}

.button-line
{
    padding: 10px 30px;

    border: 2px #fff solid;
    background-color: rgba(0,0,0,0);
}

.button-line:hover
{
    color: #222;
    background-color: #fff;
}

.button-line:focus
{
    color: #222;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px #fff;
            box-shadow: 0 0 15px #fff;
}

.button-solid
{
    padding: 10px 30px;

    border: 2px #00897b solid;
    background-color: #00897b;
}

.header-arrow
{
    margin-top: 40px;
}

.header-arrow > span > i
{
    font-size: 24pt;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    color: #fff;
}

/* Main */

.header-article
{
    margin: 60px 0 60px 0;
}

.header-article > span
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.icon-contaiener
{
    position: relative;
}

.icon-contaiener > div
{
    position: absolute;
    left: calc(50% - 35px);

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;
}

.icon-contaiener-brain
{
    position: relative;
}

.icon-contaiener-brain > div
{
    position: absolute;
    left: calc(50% - 10px);

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;
}

.grid_text > span
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.backgroud_second
{
    background-color: #e4fdf9;
}

.grid_object
{
    display: inline-block;

    width: 25%;

    background-color: #fff;
}

.grid_object:hover
{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    background-color: #00897b;
    -webkit-box-shadow: 0 0 15px #000;
            box-shadow: 0 0 15px #000;
}

.grid_object:hover > div > img
{
    display: none;
}

.grid_object:hover > div > .icon-hidden
{
    display: inline-block;
}

.grid_object:hover > div > h4,
.grid_object:hover > div > span
{
    color: #fff;
}

.grid_object:hover > div > button
{
    color: #fff;
    border-color: #fff;
}

.grid-button-inline
{
    font-weight: 900;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #000;
    border: 2px #000 solid;
    background-color: rgba(0,0,0,0);
}

.icon-hidden
{
    display: none;
}

.header-aticle-button
{
    margin: 60px 0 60px 0;
}

.header-aticle-button > div
{
    margin: 20px;
}

.button-line-green
{
    font-weight: 900;

    margin: 10px 5px 10px 5px;
    padding: 10px 15px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #000;
    border: 2px #00897b solid;
    background-color: rgba(0,0,0,0);
}

.image-container > div
{
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container > div > div
{
    position: absolute;

    visibility: hidden;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
}

.image-container > div > img
{
    width: 100%;
}

.image-container > div > div > div
{
    width: 100%;
}

.image-container > div > div > div > h5,
.image-container > div > div > div > span
{
    width: 100%;

    color: #fff;
}

.image-container > div > div > div > h5
{
    font-size: 16pt;

    margin-top: 5px;
    margin-bottom: 5px;
}

.image-container > div > div > div
{
    position: absolute;
    top: 40%;

    display: block;

    color: #fff;
}

.backgroud_second_two
{
    background-color: #f0f1f1;
}

.cost-grid
{
    min-width: 160px;
}

.basic-grid-block
{
    margin: 20px 0;

    background-color: #fff;
}

.start-grid-block
{
    position: relative;

    padding-top: 10px;

    background-color: #3949ab;
}

.start-grid-block > h4
{
    font-size: 16pt;
    font-weight: 400;

    letter-spacing: 2px;

    color: #fff;
}

.start-grid-block > p
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    margin-bottom: 0;

    color: #fff;
}

.start-grid-block > p > span
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    font-weight: 400;

    letter-spacing: 2px;

    color: #fff;
}

.end-grid-block
{
    position: absolute;
    top: 99%;

    width: 0;
    height: 0;

    border-top: 50px solid #3949ab;
    border-right: 300px solid transparent;
}

.before-grid-block
{
    padding-top: 70px;
}

.before-grid-block > p
{
    margin: 0;
}
.before-grid-block > hr
{
    display: inline-block;

    width: 40%;
    margin: 0;
    margin-bottom: 25px;

    background-color: #bfbfbf;
}

.button-line-black
{
    font-weight: 700;

    margin-bottom: 20px;
    padding: 10px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    background-color: rgba(0,0,0,0);
}

.card-people
{
    text-align: center;
}

.card-people > div
{
    display: inline-block;

    width: calc(32% - 20px);
    margin: 10px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border-radius: 20px;
}

.image-people
{
    padding: 10px;
}

.image-people > img
{
    width: 100%;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border-radius: 20px;
}

.name-people > h4
{
    margin: 0 0 10px 0;
}

.name-people > span
{
    font-size: 11pt;

    color: #212121;
}

.link-people > span > a
{
    display: inline-block;

    margin: 5px 5px;
    padding: 5px 5px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    color: #00897b;
    border-radius: 5px;
    background-color: #f0f1f1;
}

.link-people > span > a > i
{
    font-size: 14pt;
}

.facebook-icon
{
    padding: 5px 11px !important;
}

.blog-image-container
{
    position: relative;

    display: inline-block;

    width: 49%;

    text-align: center;
}

.blog-image-container > img
{
    width: 90%;

    border-radius: 30px;
}

.info-container
{
    display: inline-block;

    width: 49%;

    text-align: center;
}

.info-container > div
{
    display: inline-block;

    width: 90%;

    text-align: left;
}

.info-container > div > a > h3
{
    margin-top: 40px;
    margin-bottom: 5px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    color: #000;
}

.info-container > div > div > p
{
    display: inline-block;

    margin-right: 10px;
}

.info-container > div > p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.backgroud_contact
{
    background-color: #090e11;
    background-image: url(../../image/bg-contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.contact-text > h2,
.contact-text > span
{
    color: #fff;
}

.contact-element-text > p
{
    color: #fff;
}

.form-contact
{
    margin-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}

.icon-contact
{
    position: relative;

    display: inline-block;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-align: center;
}

.icon-contact > img
{
    width: 100%;
}

.icon-contact > div
{
    position: absolute;

    width: 100%;
    height: 100%;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border-radius: 50%;
}

.input-block > div
{
    display: inline-block;

    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-block > div > input
{
    width: 40%;
    padding: 15px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border: 0;
    border-radius: 15px;
    outline: none;
}

.textarea-block > div
{
    display: inline-block;

    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textarea-block > div > textarea
{
    width: calc(100% - 32px);
    padding: 15px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border-radius: 15px;
    outline: none;
}

.contact-button-block > div
{
    display: inline-block;

    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: right;
}

.contact-button-block > div > button
{
    font-weight: 700;

    display: inline-block;

    padding: 10px 40px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: 0.5s;
    text-transform: uppercase;

    color: #000;
    border: 3px #fff solid;
    border-radius: 15px;
    outline: none;
}
/* Main */

/* Footer */
footer
{
    text-align: center;
}

footer > div > div
{
    padding: 20px;
}

footer > div > div > span
{
    font-size: 14pt;
    font-weight: 700;
}
/* Footer */