/* Standart */
h1, h2, h3, h4, h5, h6, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #061e37;
}

p, span, a, button {
    font-family: 'Roboto', sans-serif;
    color: #061e37;
}

/* Standart */
/* Navbar */

.bg-navbar {
    background-color: #fff;
    width: 100%;
}

.navbar {
    padding: 0px;
    list-style-type: none;
    margin: 0;
}

.navbar > li {
    margin: 0;
    padding: 0; 
}

.navbar > li > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    padding: 20px 10px;  
    transition: .5s;
}

.logo-navbar {
    font-size: 20pt;
    padding: 13px 10px !important;
}

.navbar > li > a:hover {
    color: #00897b;
}

.navbar > li > a:focus {
    color: #00ab9a;
    text-shadow: 0 0 10px #000;
}

#navbar-search-form {
    border-radius: 10px;
    border: 1px #bbb solid;
    outline: none;
    padding-left: 10px;
}

.bg-container {
    background-image: url(../../image/bg.png);
    background-color: #090e11;
    background-repeat: no-repeat;
    background-position: center;
}

.header-text > h1 {
    color: #fff;
    font-size: 32pt;
    margin-bottom: 15px;
}

.header-text > h3 {
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
}

.header-button > button {
    margin: 0 10px 0 10px;
}

button {
    display: inline-block;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
    transition: .5s;
    outline: none;
}

.button-line {
    border: 2px #fff solid;
    background-color: rgba(0,0,0,0);
    padding: 10px 30px;
}

.button-line:hover {
    background-color: #fff;
    color: #222;
}

.button-line:focus {
    background-color: #fff;
    color: #222;
    box-shadow: 0 0 15px #fff;
}

.button-solid {
    border: 2px #00897b solid;
    background-color: #00897b;
    padding: 10px 30px;
}

.button-solid:hover {
    border-color: #007265;
    background-color: #007265;
    color: #000;
}

.button-solid:focus {
    border-color: #007265;
    background-color: #007265;
    color: #000;
    box-shadow: 0 0 15px #000;
}

.header-arrow {
    margin-top: 40px;
}

.header-arrow > span > i {
    cursor: pointer;
    font-size: 24pt;
    color: #fff;
    transition: .5s;
}

.arrow-back {
    transform: rotateX(180deg);
}


/* Main */

.header-article {
    margin: 60px 0 60px 0;
}

.header-article > span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.icon-contaiener {
    position: relative;
}



.icon-contaiener > div {
    transition: 0.5s;
    position: absolute;
    left: calc(50% - 35px);
}

.icon-contaiener-brain {
    position: relative;
}

.icon-contaiener-brain > div {
    transition: 0.5s;
    position: absolute;
    left: calc(50% - 10px);
}

.grid_text > span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.backgroud_second {
    background-color: #e4fdf9;
}

.grid_object {
    display: inline-block;
    background-color: #fff;
    width: 25%;
}

.grid_object:hover {
    background-color: #00897b;
    transition: 0.5s;
    box-shadow: 0 0 15px #000;
}

.grid_object:hover > div > img {
    display: none;
}

.grid_object:hover > div > .icon-hidden {
    display: inline-block;
}

.grid_object:hover > div > h4, .grid_object:hover > div > span {
    color: #fff;
}

.grid_object:hover > div > button {
    border-color: #fff;
    color: #fff;
}

.grid_object:hover > div > button:hover {
    background-color: #fff;
    color: #00897b;
}

.grid_object:hover > div > button:focus {
    background-color: #fff;
    color: #00897b;
    box-shadow: 0 0 10px #fff;
}

.grid-button-inline {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px #000 solid;
    background-color: rgba(0,0,0,0);
    padding: 10px 15px;
    color: #000;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.icon-hidden {
    display: none;
}

.header-aticle-button {
    margin: 60px 0 60px 0;
}

.header-aticle-button > div {
    margin: 20px;
}

.button-line-green {
    border: 2px #00897b solid;
    background-color: rgba(0,0,0,0);
    padding: 10px 15px;
    color: #000;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 10px 5px 10px 5px;
}

.button-line-green:focus {
    background-color: #00897b;
    color: #fff;
}

.image-container:hover > div > div {
    transition: 0.5s;
    visibility: visible;
}

.image-container > div {
    
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container > div > div {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.image-container > div > img {
    width: 100%;
}

.image-container > div > div > div {
    width: 100%;
}

.image-container > div > div > div > h5, 
.image-container > div > div > div > span  {
    color: #fff;
    width: 100%;
}

.image-container > div > div > div > h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16pt;
}

.image-container > div > div > div  {
    position: absolute;
    top: 40%;
    color: #fff;
    display: block;
}

/* cost */

.backgroud_second_two {
    background-color: #f0f1f1;
}

.cost-grid {
    min-width: 160px;
}

.basic-grid-block {
    background-color: #fff;
    margin: 20px 0px;
}

.basic-grid-block:hover {
    box-shadow: 0 0 20px #000;
    transition: 0.5s;
}

.start-grid-block {
    position: relative;
    background-color: #3949ab;
    padding-top: 10px;
}

.start-grid-block > h4 {
    color: #fff;
    font-size: 16pt;
    letter-spacing: 2px;
    font-weight: 400;
}

.start-grid-block > p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

.start-grid-block > p > span {
    color: #fff;
    letter-spacing: 2px;
    font-size: 20pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.end-grid-block {
    position: absolute;
    top: 99%;
    width: 0;
    height: 0;
    border-top: 50px solid #3949ab; 
    border-right: 300px solid transparent;  
}

.before-grid-block  {
    padding-top: 70px;
}

.before-grid-block > p {
    margin: 0;
}
.before-grid-block > hr {
    display: inline-block;
    width: 40%;
    background-color: #bfbfbf;
    margin: 0;
    margin-bottom: 25px;
}

.button-line-black {
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #000;
    color: #000;
    font-weight: 700;
    background-color: rgba(0,0,0,0);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.button-line-black:hover {
    border: 2px solid #00897b;
    color: #fff;
    background-color: #00897b;
}

.button-line-black:focus {
    border: 2px solid #00897b;
    color: #fff;
    background-color: #00897b;
    box-shadow: 0 0 10px #000;
}

/* Cost */
/* Team */

.card-people {
    text-align: center;
}

.card-people > div {
    width: calc(33% - 20px);
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.card-people > div:hover {
    box-shadow: 0 0 10px;
    background-color: #fff;
}

.image-people {
    padding: 10px;
}

.image-people > img {
    width: 100%;
    transition: 0.5s;
    border-radius: 20px;
}

.image-people > img:hover {
    border-radius: 10px;   
}

.name-people > h4 {
    margin: 0 0 10px 0;
}

.name-people > span {
    font-size: 11pt;
    color: #212121;
}

.link-people > span > a {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #f0f1f1;
    color: #00897b;
    transition: 0.5s;
}

.link-people > span > a > i {
    font-size: 14pt;
}

.facebook-icon {
    padding: 5px 11px !important;
}


/* Team */
/* Blog */

.blog-image-container {
    position: relative;
    display: inline-block;
    width: 49%;
    text-align: center;
}

.blog-image-container > img {
    width: 90%;
    border-radius: 30px;
}

.info-container {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.info-container > div {
    display: inline-block;
    width: 90%;
    text-align: left;
}

.info-container > div > a > h3 {
    transition: 0.5s;
    color: #000;
    margin-top: 40px;
    margin-bottom: 5px;
}

.info-container > div > a > h3:hover {
    color: #00897b;
}

.info-container > div > div > p {
    display: inline-block;
    margin-right: 10px;
}

.info-container > div > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

/* Blog */
/* Contact */

.backgroud_contact {
    background-image: url(../../image/bg-contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #090e11;
}

.contact-text > h2, .contact-text > span {
    color: #fff;
}

.contact-element-text > p {
    color: #fff;
}

.form-contact {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.icon-contact {
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
}

.icon-contact > img {
    width: 100%;
}

.icon-contact > div {
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.input-block > div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 85%;
}

.input-block > div > input {
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: 0;
    transition: 0.5s;
}

.textarea-block > div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 85%;
}

.textarea-block > div > textarea {
    padding: 15px;
    border-radius: 15px;
    outline: none;
    width: calc(100% - 32px);
    transition: 0.5s;
}

.contact-button-block > div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: right;
    width: 85%;
}

.contact-button-block > div > button {
    display: inline-block;
    border: 3px #fff solid;
    font-weight: 700;
    color: #000;
    padding: 10px 40px;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
    text-transform: uppercase;
}
/* Contact */
/* Main */

/* Footer */
footer {
    text-align: center;
}

footer > div > div {
    padding: 20px;
}

footer > div > div > span {
    font-weight: 700;
    font-size: 14pt;
}
/* Footer */
